 
 *{
    margin: 0;
    padding: 0;
 }
 
 body{ 
    font-family: 'Poppins', sans-serif;
 }

 .banner-container{
    width: 100%;
    height: 100vh;
    background-image: url(image/donation13.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
 }

 .banner-container img{
    width: 100%;
 }

.banner-description{ 
 
    height: 300px;  
    padding-top: 50px;  
    text-align: center; 
    margin: auto;
    
} 
.banner-text{ 
    text-align: center; 
    color: aliceblue; 
    margin-top: 10px; 
    font-size: 50px;

}  
.ban{ 
    font-size: 15px; 
    color: #D9D9D9; 
    margin-top: 30px;
}
.btn{ 
    padding: 8px 8px; 
    background-color: rgb(138, 20, 138);
    margin: 10px; 
    font-size: 18px; 
    color: white;
    border-radius: 10px; 
    margin: 0 auto;
    text-align: center; 
    margin-top: 30px;
    } 
    .donate{ 
        text-align: center; 
        margin-top: 30px;
    } 
    .do{ 
        text-align: center; 
        margin-top: 30px;
    } 
     .container1{ 
        width: 100px; 
        height: 70px; 
        border: 1px solid white;
        padding: 2px; 
        margin-left: 10px;
        margin-top: 30px;  
        text-align: center; 
        border-radius: 5px; 
        background-color: rgb(219, 197, 197);
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
     } 
     .today{ 
        display: flex; 
        text-align: center; 
        margin-bottom: 40px; 
        justify-content: space-evenly;
     } .container2{ 
        width: 100px; 
        height: 70px;  
        background-color: lightsalmon;
        border: 1px solid white;
        padding: 2px;  
        color: rgb(197, 58, 58);
         margin-top: 30px; 
         margin-right: 5px;
    margin-left: 10px;
    text-align: center; 
    border-color: rgb(230, 65, 14); 
    border-radius: 5px;  
    display: flex;
    justify-content: center;
    align-items: center;
 }  
             .container3{ 
                width: 100px; 
                height: 70px; 
                border: 1px solid white;
                padding: 2px; 
                margin-top: 30px;  
                margin-left: 10px;  
                margin-right: 5px;
                text-align: center; 
                border-radius: 5px; 
                background-color: rgb(219, 197, 197);
                display: flex;
    justify-content: center;
    align-items: center;
                     }  
                     .container4{ 
                        width: 100px; 
                        height: 70px; 
                        border: 1px solid white;
                        padding: 2px; 
                    margin-top: 30px; 
                         margin-left: 10px; 
                        text-align: center; 
                        border-radius: 5px; 
                        background-color: rgb(219, 197, 197); 
                        margin-right: 5px;
                        display: flex;
    justify-content: center;
    align-items: center;
                             }  
                             .container5{ 
                                width: 100px; 
                                height: 70px; 
                                border: 1px solid white; 
                                padding: 2px; 
                                 margin-top: 30px; 
                                   margin-left: 10px; 
                                text-align: center; 
                                border-radius: 5px; 
                                background-color: rgb(219, 197, 197); 
                                margin-right: 5px;
                                display: flex;
    justify-content: center;
    align-items: center;
                                     }  
                                     hr{ 
                                        width: 60%;
                                        margin: 0 auto;
    text-align: center;
                                     } 
                                     .taka{ 
                                        text-align: center; 
                                        font-size: 10px;
                                     } 
                                     .Now{ 
                                        background-color: blueviolet; 
                                        color: antiquewhite; 
                                        border: none; 
                                        padding: 10px; 
                                        margin-top: 20px; 
                                        border-radius: 5px;
                                     } 
                                     .plan{ 
                                 text-align: center;  
                                 font-size: 25px ; 
                                 margin-top: 30px;
                                     } 
                                     .lorem{ 
                                        text-align: center; 
                                        font-size: 13px; 
                                        margin-top: 12px;
                                     } 
                                    .cont-items  .cont1 img,  .cont-items  .cont2 img,  .cont-items  .cont3 img, .cont-items  .cont4 img,  .cont-items  .cont5 img{
                                        padding-top: 30px;
                                     }
                                     .cont1{ 
                                        width: 300px; 
                                        height: 300px; 
                                        padding: 2px; 
                                        padding-left: 15px;
                                        border: 1px ; 
                                        background-color: skyblue; 
                                        border-radius: 5px; box-shadow: 10px 10px 13px ;  
                                        transition: .11ms;
                                        margin-top: 40px;

                                     }  
                                     /*.cont-1:hover{ 
                                        border: 1px solid rebeccapurple;  
                                        margin-top: 0px; 
                                     }*/
                                     .cont2{ 
                                        width: 300px; 
                                        height: 300px; 
                                        padding: 2px;
                                        border: 1px ;  
                                        padding-left: 15px;
                                    background-color: cornflowerblue;
                                        border-radius: 5px; box-shadow: 10px 10px 13px ;  
                                        margin-left: 20px;  
                                        transition: .11ms;
                                        margin-top: 40px;
                                     }  
                                     /*.cont-2:hover{ 
                                        border: 1px solid rebeccapurple;  
                                        margin-top: 0px; 
                                     }*/
                                     .cont3{ 
                                        width: 300px; 
                                        height: 300px; 
                                        padding: 2px;
                                        border: 1px ; 
                                       background-color: pink; 
                                       padding-left: 15px;
                                        border-radius: 5px; 
                                         box-shadow: 10px 10px 13px ;  
                                         transition: .11ms;
                                         margin-top: 40px;
                                     }  
                                     /*.cont-3:hover{ 
                                        border: 1px solid rebeccapurple;  
                                        margin-top: 0px; 
                                     }*/
                                     .cont-items{ 
                                        display: flex; 
                                        justify-content: space-evenly;
                                     } 
                                     
                                     .blood img{ 
                                        
                                        padding-bottom: 35px;
                                     } 
                                     .medi img{ 
                                        padding-bottom: 35px;
                                     } 
                                     .new-one{ 
                                        display: flex; 
                                        margin-top: 80px;
                                     } 
                                     .flood{ 
                                        width: 500px;
                                        height: 300px;
                                     } 
                                   .contact{ 
                                border: 1px ; 
                                color: antiquewhite; 
                                background-color: blueviolet; 
                                border-radius: 5px; 
                                width: 150px; 
                                height: 40px; 
                                margin-top: 20px;
                                   } 
                                 
                                   .img-cont img{ 
                                    width: 350px; 
                                    height: 400px; 
                                    transform: skewY(-15deg); 
                                    
                                    margin-top: 70px;   
                                    box-shadow: 10px 10px 16px;
                                    
                                  
                                   }
                                  .img-cont{ 
                                    display: flex;
                                  } 
                                  .help-others{ 
                                    display: flex; 
                                    margin-top: 40px; 
                                    margin-bottom: 100px;
                                  } 
                                  .help-right{ 
                                    padding-left: 50px;
                                  } 
                                  .msg{ 
                                    background-color: gray;
                                    color: antiquewhite; 
                                    padding: 10px; 
                                    border-radius: 5px;
                                    border-color: none; 
                                    height: 40px;
                                  } 
                                  .get{ 
                                    text-align: center; 
                                    margin-top: 50px;
                                  } 

                                  .new-one  .left, .new-one  .right{
                                    width: 50%;
                                  }

                                  .new-one  .left {
                                    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
                                  }

                                  .new-one .right  img{
                                    width: 100%;
                                    object-fit: cover;
                                  }

                                  .heading-subscribe{
                                    margin: 0 auto;
                                    text-align: center;
                                  }
                                  
                                  .subscribe {
                                    margin: 0 auto;
                                    text-align: center;
                                    width: 60%;
                                    background-color: #FFF4D6;
                                    padding: 80px 20px;
                                    border-radius: 5px;
                                    margin-bottom: 100px; 
                                    margin-top: 40px;
                                }
                                
                                #email{
                                    font-size: 15px;
                                    padding: 10px;
                                    width: 300px;
                                    border: none;
                                    background-color: #D9D9D9;
                                    border-top-left-radius: 5px;
                                    border-bottom-left-radius: 5px;
                                }
                                
                                #button-subscribe{
                                    font-weight: 400;
                                    font-size: 15px;
                                    color: #FFFFFF;
                                    padding: 10px 12px;
                                    text-decoration: none;
                                    background: #FF5959;
                                    border-top-right-radius: 5px;
                                    border-bottom-right-radius: 5px;
                                    border: none;
                                    margin-left: -5px; 
                                   
                                }
                                .humble{ 
                                    text-align: center; 
                                    margin: 0 auto; 
                                    background-color: black; 
                                    color: #D9D9D9;
                                    font-family: 'Dancing Script', cursive; 
                                    height: 150px; 
                                    padding-top: 30px;
                                } 
                                .old{ 
                                    padding:15px;
                                } 
                                .up{ 
                                    margin-top: 30px;
                                } 
                                .iam{ 
                                    padding:30px
                                }