 
 body{ 
    font-family: 'Poppins', sans-serif;
 }
.banner-description{ 
    background-image: url(image/donation13.jpg); 
    height: 300px;  
    padding-top: 50px;  
    text-align: center; 
    margin: auto;
    
} 
.banner-text{ 
    text-align: center; 
    color: aliceblue;

} 
.btn{ 
    padding: 8px 8px; 
    background-color: rgb(138, 20, 138);
    margin: 10px; 
    font-size: 18px; 
    color: white;
    border-radius: 10px; 
    margin: 0 auto;
    text-align: center;
    } 
    .donate{ 
        text-align: center;
    } 
    .do{ 
        text-align: center;
    } 
     .container1{ 
width: 100px; 
height: 50px; 
border: 1px solid white;
padding: 2px; 
margin-left: 10px;
margin-top: 20px;  
text-align: center; 
border-radius: 5px; 
background-color: rgb(219, 197, 197);
margin-right: 5px;
     } 
     .today{ 
        display: flex; 
        text-align: center; 
        margin-bottom: 40px; 
        justify-content: space-evenly;
     } .container2{ 
        width: 100px; 
        height: 50px;  
        background-color: lightsalmon;
        border: 1px solid white;
        padding: 2px;  
        color: rgb(197, 58, 58);
         margin-top: 20px; 
         margin-right: 5px;
    margin-left: 10px;
    text-align: center; 
    border-color: rgb(230, 65, 14); 
    border-radius: 5px;   }  
             .container3{ 
                width: 100px; 
                height: 50px; 
                border: 1px solid white;
                padding: 2px; 
                margin-top: 20px;  
                margin-left: 10px;  
                margin-right: 5px;
                text-align: center; 
                border-radius: 5px; 
                background-color: rgb(219, 197, 197);
                     }  
                     .container4{ 
                        width: 100px; 
                        height: 50px; 
                        border: 1px solid white;
                        padding: 2px; 
                    margin-top: 20px; 
                         margin-left: 10px; 
                        text-align: center; 
                        border-radius: 5px; 
                        background-color: rgb(219, 197, 197); 
                        margin-right: 5px;
                             }  
                             .container5{ 
                                width: 100px; 
                                height: 50px; 
                                border: 1px solid white; 
                                padding: 2px; 
                                 margin-top: 20px; 
                                   margin-left: 10px; 
                                text-align: center; 
                                border-radius: 5px; 
                                background-color: rgb(219, 197, 197); 
                                margin-right: 5px;
                                
                                     }  
                                     .tag{ 
                                        width: 60%;
                                     } 
                                     .taka{ 
                                        text-align: center; 
                                        font-size: 10px;
                                     } 
                                     .Now{ 
                                        background-color: blueviolet; 
                                        color: antiquewhite; 
                                        border: none; 
                                        padding: 10px; 
                                        margin-top: 10px; 
                                        border-radius: 5px;
                                     } 
                                     .plan{ 
                                 text-align: center;  
                                 font-size: 25px ; 
                                 margin-top: 30px;
                                     } 
                                     .lorem{ 
                                        text-align: center; 
                                        font-size: 10px;
                                     } 
                                     .cont1{ 
                                        width: 300px; 
                                        height: 300px; 
                                        padding: 2px; 
                                        padding-left: 15px;
                                        border: 1px ; 
                                        background-color: skyblue; 
                                        border-radius: 5px; box-shadow: 10px 10px 13px ;  
                                        transition: .11ms;
                                        margin-top: 20px;

                                     }  
                                     /*.cont-1:hover{ 
                                        border: 1px solid rebeccapurple;  
                                        margin-top: 0px; 
                                     }*/
                                     .cont2{ 
                                        width: 300px; 
                                        height: 300px; 
                                        padding: 2px;
                                        border: 1px ;  
                                        padding-left: 15px;
                                    background-color: cornflowerblue;
                                        border-radius: 5px; box-shadow: 10px 10px 13px ;  
                                        margin-left: 20px;  
                                        transition: .11ms;
                                        margin-top: 20px;
                                     }  
                                     /*.cont-2:hover{ 
                                        border: 1px solid rebeccapurple;  
                                        margin-top: 0px; 
                                     }*/
                                     .cont3{ 
                                        width: 300px; 
                                        height: 300px; 
                                        padding: 2px;
                                        border: 1px ; 
                                       background-color: pink; 
                                       padding-left: 15px;
                                        border-radius: 5px; 
                                         box-shadow: 10px 10px 13px ;  
                                         transition: .11ms;
                                         margin-top: 20px;
                                     }  
                                     /*.cont-3:hover{ 
                                        border: 1px solid rebeccapurple;  
                                        margin-top: 0px; 
                                     }*/
                                     .cont-items{ 
                                        display: flex; 
                                        justify-content: space-evenly;
                                     } 
                                     
                                     .blood img{ 
                                        
                                        padding-bottom: 35px;
                                     } 
                                     .medi img{ 
                                        padding-bottom: 35px;
                                     } 
                                     .new-one{ 
                                        display: flex; 
                                        margin-top: 80px;
                                     } 
                                     .flood{ 
                                        width: 500px;
                                        height: 300px;
                                     } 
                                   .contact{ 
                                border: 1px ; 
                                color: antiquewhite; 
                                background-color: blueviolet; 
                                border-radius: 5px; 
                                width: 150px; 
                                height: 40px;
                                   } 
                                 
                                   .img-cont img{ 
                                    width: 350px; 
                                    height: 400px; 
                                    transform: skewY(-15deg); 
                                    
                                    margin-top: 70px;   
                                    box-shadow: 10px 10px 16px;
                                    
                                  
                                   }
                                  .img-cont{ 
                                    display: flex;
                                  } 
                                  .help-others{ 
                                    display: flex; 
                                    margin-top: 40px; 
                                
                                  } 
                                  .help-right{ 
                                    padding-left: 50px;
                                  } 
                                  .msg{ 
                                    background-color: gray;
                                    color: antiquewhite; 
                                    padding: 10px; 
                                    border-radius: 5px;
                                    border-color: none; 
                                    height: 40px;
                                  } 
                                  .get{ 
                                    text-align: center; 
                                    margin-top: 50px;
                                  } 
                                  .box1{ 
                                    
                                  }